/* reset style */

@import url(/css/reset.css);

/* Fonts */

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('/fonts/SweetSansProLight.woff') format('woff');
}

@font-face {
    font-family: 'Sweet_Sans_Pro_medium';
    src: url('/fonts/SweetSansProMedium.woff') format('woff');
}

/* Variables */

:root {
    --font-color: #222222;
    --primary-font: Sweet Sans Pro;
  }

.wropper {
    max-width: 390px;
    margin: 0 auto;
    border: 1px solid #000;
}

/* Header */

.wropper .header{
    max-width: 81%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;

}

.wropper .header .brand img{
    max-width: 156px;
    max-height: 18px;
}

.wropper .header .burger-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 22px;
    height: 18px;
}

.wropper .header .burger-button .burger-button-icon{
    width: 100%;
    height: 1px;
    background-color: #000;
}

/* Main */

.wropper .main {
    padding-top: 40px;
}

.wropper .main .content-block {
    margin-top: 40px;
    position: relative;
    max-width: 81%;
}

.wropper .main .content-block .content-img{
    max-width: 100%;
    height: auto;
}

.wropper .main .content-block .content{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

.wropper .main .content-block .content .content-item{
    display: block;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

/* Footer */

.wropper .footer {
    margin-top: 80px;
    margin-bottom: 65px;
}

.wropper .footer .footer-container{
    width: 81%;
    border-top: 1px solid #000;
}

.wropper .footer .footer-container .social-link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.wropper .footer .footer-container .social-link .link{
    width: 21px;
    height: 21px;
}

.wropper .footer .footer-container .footer-menu {
    width: 100%;
    margin-top: 60px;
}

.wropper .footer .footer-container .footer-menu .item{
    font-family: Sweet_Sans_Pro_medium;
    text-transform: uppercase;
    color: var(--font-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
}

.wropper .footer .footer-container .about-block{
    width: 100%;
    margin-top: 65px;
}

.wropper .footer .footer-container .about-block .about-link{
    display: block;
    font-family: var(--primary-font);
    color: var(--font-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}
